  .adminCommunityForumComponentBlankLine {
    margin: 0;
    color: #557153;
    font-size: 1.31rem;
  }
  .adminCommunityForumComponentMainTextContainer {
    align-self: stretch;
    position: relative;
    text-transform: uppercase;
  }
  .adminCommunityForumComponentMainText {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .adminCommunityForumComponentTopSection {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.88rem;
  }
  .adminCommunityForumComponentMiddleSection,
  .adminCommunityForumComponentTopSection {
    align-self: stretch;
  }
  .adminCommunityForumComponent,
  .adminCommunityForumComponentMainPanel {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .adminCommunityForumComponentMainPanel {
    align-self: stretch;
    flex: 1;
    flex-direction: column;
    padding: 2.75rem 3.38rem;
    gap: 3.19rem;
    font-size: 1rem;
    color: #434343;
  }
  .adminCommunityForumComponent {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 52.94rem;
    flex-direction: row;
    gap: 0.06rem;
    text-align: left;
    font-size: 1.13rem;
    color: #fff;
    height:100%;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
  }

  .adminCommunityForumTitleLayout {
    text-align: center;
  }
  .adminCommunityForumTitleCard {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #E6E5A3;
    
  }
  .adminCommunityForumTitleDetails {
    flex-grow: 1;
    
  }
  
  .adminCommunityForumTitleName {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #557153;
    margin-right: 990px;
  margin-left: 0;
  }
  
  
  .adminCommunityForumTable {
      width: 100%;
      border-collapse: collapse;
    }
    
    .adminCommunityForumTable th, .adminCommunityForumTable td {
      padding: 10px;
      border: 1px solid #ccc;
    }
    
    .adminCommunityForumTable th {
      background-color: #f2f2f2;
      font-weight: bold;
    }
    
    .adminCommunityForumTable tbody tr:nth-child(even) {
      background-color: #f9f9f9;
    }
    
    .adminCommunityForumTable tbody tr:hover {
    }
    .adminCommunityForumCard {
      background-color: #f7f7f7;
      border-radius: 5px; 
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 20px;
      width: 100%;
      height: 500px;
      height: fit-content;
      align-items: center;
      justify-content: center;
    }
    
    
    .adminCommunityForumPageLayout1 {
      text-align: center;
    }
  
    .adminCommunityForumPageLayout2 {
      display: flex;
    justify-content: center;
    margin-bottom: 20px;
    }  
  
    
    .adminCommunityForumSubTitle {
      background-color: #e7e7e7;
      padding: 10px;
      margin-right: 8px;
      margin-left: 30px; 
      text-align: start;
      font-size: 1rem;     
      font-weight: 600;
    }
    .adminCommunityForumRowSelect{
      padding: 8px;
      border: 1px solid #7D8F69;
      border-radius: 4px;
      font-size: 14px;
    }
    
    .adminCommunityForumRowSelect:focus {
      outline: none;
      border-color: #557153;
    }
    .adminCommunityForumShow {
      text-align:justify;
      font-weight:500;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      margin-right: 8px;
      margin-left: 40px; 
      text-align: start;
    }
    
  
  .adminCommunityForumImage {
    width: 350px;
    height: 350px;
  }

  .adminCommunityForumComponentCategories {
    flex-direction: row;
    padding: 0 0.75rem 0 0;
    align-items: center;
    gap: 0.63rem;
    font-size: 1.06rem;    
    align-self: stretch;
    display: flex;
    justify-content: flex-start;
  }  

   .adminCommunityForumComponentPaginationContainer {
     border-radius: 6px;
    border: 1px solid #bac2d6;
    display: flex;
    flex-direction: column;
    padding: 0.88rem 1.88rem;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    transition: 0.5s;
    cursor: pointer;
  }

  .adminCommunityForumComponentPaginationContainer:hover {
    background-color: #E5FCE7;
  }

  .adminCommunityForumComponentPaginationNumber {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 2rem;
    text-transform: uppercase;
    font-weight: 600;
  }




  @media screen and (max-width: 1366px) {
    .adminCommunityForumImage {
        width: 300px;
        height: 300px;
      }
  }

 
  @media screen and (max-width: 960px) {
    .adminCommunityForumComponentMainText {
      padding-right: 0;
      box-sizing: border-box;
      flex: unset;
      align-self: stretch;
    }
    .adminCommunityForumComponentMiddleSection,
    .adminCommunityForumComponentTopSection {
      flex-direction: column;
    }
  }
  @media screen and (max-width: 420px) {
    .adminCommunityForumComponentMainText {
      width: 100%;
    }
    .adminCommunityForumComponentMainPanel {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      box-sizing: border-box;
    }
  }
  