.agripinaslogo-icon {
    position: relative;
    width: 3.08rem;
    height: 3.13rem;
    object-fit: cover;
  }
  .agripinas {
    position: relative;
    display: inline-block;
    width: 6.63rem;
    height: 1.36rem;
    flex-shrink: 0;
  }
  .agripinaslogo-parent {
    height: 1.84rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .community {
    position: absolute;
    top: 0;
    left: 2.51rem;
    display: inline-block;
    width: 6.63rem;
    height: 1.38rem;
  }
  .group-child {
    position: absolute;
    top: 0.14rem;
    left: 0;
    width: 1.25rem;
    height: 1.05rem;
  }
  .community-parent {
    text-decoration: none;
    position: absolute;
    top: 7.47rem;
    left: 0.05rem;
    width: 9.14rem;
    height: 1.38rem;
    color: inherit;
  }
  .transactions {
    position: absolute;
    top: 0;
    left: 2.55rem;
    display: inline-block;
    width: 6.94rem;
    height: 1.35rem;
  }
  .worldwide-icon {
    position: absolute;
    height: 90.91%;
    width: 12.99%;
    top: 4.55%;
    right: 87.01%;
    bottom: 4.54%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .transactions-parent {
    text-decoration: none;
    position: absolute;
    top: 11.22rem;
    left: 0.02rem;
    width: 9.49rem;
    height: 1.35rem;
    color: inherit;
  }
  .dashboard {
    position: absolute;
    top: 0;
    left: 2.49rem;
    display: inline-block;
    width: 5.94rem;
    height: 1.35rem;
  }
  .home-1-icon {
    position: absolute;
    height: 77.27%;
    width: 13.09%;
    top: 4.55%;
    right: 86.91%;
    bottom: 18.18%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .dashboard-parent {
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0.08rem;
    width: 8.42rem;
    height: 1.35rem;
    color: inherit;
  }
  .marketplace {
    position: absolute;
    top: 0;
    left: 2.56rem;
    display: inline-block;
    width: 6.88rem;
    height: 1.38rem;
  }
  .wallet-2-icon {
    position: absolute;
    height: 75.85%;
    width: 13.43%;
    top: 8.6%;
    right: 86.57%;
    bottom: 15.55%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .marketplace-parent {
    text-decoration: none;
    position: absolute;
    top: 3.78rem;
    left: 0;
    width: 9.44rem;
    height: 1.38rem;
    color: inherit;
  }
  .accounts-management {
    position: absolute;
    top: 0;
    left: 2.49rem;
    display: inline-block;
    width: 7.31rem;
    height: 1.38rem;
  }
  .store-icon {
    position: absolute;
    height: 75.85%;
    width: 12.21%;
    top: 14.1%;
    right: 87.79%;
    bottom: 10.05%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .accounts-management-parent {
    text-decoration: none;
    position: absolute;
    top: 14.91rem;
    left: 0.04rem;
    width: 9.81rem;
    height: 1.38rem;
    color: inherit;
  }
  .group-parent {
    position: relative;
    width: 9.84rem;
    height: 16.28rem;
  }
  .group-inner,
  .group-item,
  .vector-icon {
    position: absolute;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .group-item {
    height: 100%;
    width: 36%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 64%;
    border-radius: 50%;
    object-fit: cover;
  }
  .group-inner,
  .vector-icon {
    height: 82.54%;
    width: 0.7%;
    top: 8.73%;
    right: 55.3%;
    bottom: 8.73%;
    left: 44%;
  }
  .vector-icon {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .ellipse-div {
    position: absolute;
    height: 35.98%;
    width: 39.98%;
    top: 3.9%;
    right: 0;
    bottom: 60.12%;
    left: 60.02%;
    border-radius: 50%;
    background-color: #fba403;
  }
  .vector-parent {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    height: 74.07%;
    width: 24%;
    top: 12.96%;
    right: 76%;
    bottom: 12.96%;
    left: 0;
  }
  .ellipse-parent {
    position: relative;
    width: 6.25rem;
    height: 2.25rem;
  }
  .side-bar {
    align-self: stretch;
    background-color: #557153;
    display: flex;
    flex-direction: column;
    padding: 3.31rem 2rem;
    align-items: center;
    justify-content: flex-start;
    gap: 5.81rem;
  }
  .adminDashboardComponentBlankLine {
    margin: 0;
  }
  .adminDashboardComponentMainTextContainer {
    align-self: stretch;
    position: relative;
    text-transform: uppercase;
  }
  .adminDashboardComponentMainText {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .adminDashboardComponentTopSection {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.88rem;
  }
  .adminDashboardComponentMiddleSection,
  .adminDashboardComponentTopSection {
    align-self: stretch;
  }
  .adminDashboardComponent,
  .adminDashboardComponentMainPanel {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .adminDashboardComponentMainPanel{
    align-self: stretch;
    flex: 1;
    flex-direction: column;
    padding: 2.75rem 3.38rem;
    gap: 3.19rem;
    font-size: 1.31rem;
    color: #557153;
  }
  .adminDashboardComponent {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 52.94rem;
    flex-direction: row;
    gap: 0.06rem;
    text-align: left;
    font-size: 1.13rem;
    height:100%;
    min-height:100vh;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
  }

  .adminDashboardComponentOverview {
    display: flex;
    justify-content: flex-start;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }

  .adminDashboardComponentCard{
    align-self: stretch;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    padding: 2.44rem 2.5rem;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    gap: 0.63rem;
    font-size: 0.75rem;
    color: #fff;
  }

  .adminDashboardComponentLegendSection {
    align-self: stretch;
    height: 9.31rem;
    flex-direction: row;
    align-items: flex-start;
    gap: 1.56rem;
    font-size: 0.69rem;
    display: flex;
    justify-content: flex-start;
  }

  .adminDashboardComponentLegendBox {
    flex: 1;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 2.25rem 2.31rem;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    transition:0.5s;
  }

  .adminDashboardComponentLegendBox:hover{
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.20);
  }
  
  .adminDashboardComponentLegendBoxWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 1.06rem;
  }

  .adminDashboardComponentLegendSubTitle {
    letter-spacing: -0.02em;
    font-weight: 500;
    position: relative;
    letter-spacing: 0.04em;
  }
  .adminDashboardComponentLegendVector {
    position: relative;
    width: 5.63rem;
    height: 1.13rem;
  }

  .adminDashboardComponentLegendChild1{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(150, 236, 40, 0.52);
    width: 5.63rem;
    height: 1.13rem;
  }
  

  @media screen and (max-width:1366px) {
    .ResponsiveContainer {
        height: 300;
    }
  }
  @media screen and (max-width: 1200px) {
    .side-bar {
      display: none;
    }
  }
  @media screen and (max-width: 960px) {
    .adminDashboardComponentOverview {
        width: 100%;
        flex: unset;
        align-self: stretch;
      }
    .adminDashboardComponentMainText {
      padding-right: 0;
      box-sizing: border-box;
      flex: unset;
      align-self: stretch;
    }
    .middle-section,
    .adminDashboardComponentTopSection {
      flex-direction: column;
    }
  }
  @media screen and (max-width: 420px) {
    .adminDashboardComponentMainText {
      width: 100%;
    }
    .adminDashboardComponentMainPanel {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      box-sizing: border-box;
    }
  }

  @media screen and (max-width: 350px) { 

    .adminDashboardComponentLegendBox {
        flex: unset;
        align-self: stretch;
      }
    
    .adminDashboardComponentLegendSection {
      flex-direction: column;
    }
  }
  
  