.login {
  align-self: stretch;
  position: relative;
  line-height: 2.13rem;
  font-weight: 600;
}
.form-text {
  flex-direction: column;
  padding: 0 0 1rem;
  align-items: center;
}
.form-fields,
.form-text,
.input {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.input {
  border: 1px solid #dee3eb;
  font-size: 1rem;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  flex-direction: row;
  padding: 0.63rem 0.88rem;
  align-items: center;
  line-height: 1.13rem;
  outline: 0;
}
.form-fields {
  flex-direction: column;
  padding: 0 2.06rem;
  align-items: flex-start;
  gap: 0.63rem;
}
.login1 {
  position: relative;
  font-size: 1rem;
  line-height: 150%;
  font-weight: 600;
  color: #fff;
  text-align: left;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 0.5rem 1rem;
  background-color: #27ae60;
  border-radius: 8px;
  width: 7.19rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.button:hover {
  background-color: #3e8e41;
  color: white;
}
.sign-up {
  color: #27ae60;
  transition: 0.5s;
}

.sign-up:hover {  
  color: #3e8e41;  
}

.dont-have-an-container {
  position: relative;
  font-size: 0.90rem;
  line-height: 150%; 
  display: inline-block;
  width: 13rem;
  height: 0.94rem;
  flex-shrink: 0;
  color: #000;
}
.form {
  border-radius: 12px;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.03);
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  width: 35rem;
  height: 40rem;
  padding: 1.75rem 3.19rem;
  gap: 2.06rem;
  max-width: 90%;
}
.form,
.loginpage,
.wrapper {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrapper {
  align-self: stretch;
  padding: 5rem 0;
}
.loginpage {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  color: #557153;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
