.farmerDashboardComponentGroupChild2,
.farmerDashboardComponentGroupInner2 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.farmerDashboardComponentGroupChild2 {
  height: 100%;
  width: 36%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 64%;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}
.farmerDashboardComponentGroupInner2{
  height: 82.54%;
  width: 0.7%;
  top: 8.73%;
  right: 55.3%;
  bottom: 8.73%;
  left: 44%;
  
}
.farmerDashboardComponentGroupInner2 {
  height: 74.07%;
  width: 24%;
  top: 12.96%;
  right: 76%;
  bottom: 12.96%;
  left: 0;
}
.farmerDashboardComponentEllipseParent2 {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 6.25rem;
  height: 2.25rem;
  color: #557153;
  cursor: pointer;
  z-index: 9999; /* Ensure the element is above other content */
}

.farmerDashboardComponentGroupChild2:hover {
  color: #fba403;
  transition: 0.5s;
}

.farmerDashboardComponentGroupInner2:hover {
  color: #fba403;
  transition: 0.5s;
}

.dropdownMenu {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.dropdownOption {
  padding: 10px;
  font-size: 0.8rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropdownOption:hover {
  background-color: #f0f0f0;
}

.dropdownOption.selected {
  background-color: #f0f0f0;
  font-weight: bold;
}
